footer {
  padding-top: 160px;
  background-color: #210933;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.logo-adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__link {
    margin-bottom: 50px;
  }
  &__text {
    font-size: 36px;
    font-weight: 700;
  }
}

.social-medias {
  margin-bottom: 40px;
  &__link + &__link {
    margin-left: 20px;
  }
}

.copyright {
  &__text {
    font-size: 14px;
    font-weight: 700;
    color: #857885;
  }
  &__text--margin {
    margin-left: 16px;
  }
  &__icon {
    margin-top: 2px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  &__title {
    color: #fff;
    font-family: $font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &__list {
    padding: 0;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    color: #857885;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 700;
  }
}

@media (max-width: 610px) {
  .footer-wrap {
    flex-direction: column;
  }
}
