@import "_vars.scss";

header {
  background-image: url(/img/hero-bg.jpg);
  max-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  max-width: 1164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}
.nav {
  margin-right: 100px;
}
.nav-mobile {
  width: 891px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  &__text {
    font-size: 36px;
    font-weight: 700;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 41px;
}
.nav-list__link {
  color: $light;
  &:hover {
    color: #ffbc51;
  }
  &:active {
    color: #ffbc51;
  }
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 38px;
  &__support {
    font-weight: 700;
  }
  &__sign {
    background: #ffbc51;
    padding: 10px 40px;
    border: none;
    border-radius: 96px;
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
  }
}

// кнопка для бургер

.nav-toggler {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.nav-toggler span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #fff;
}
.nav-toggler::after,
.nav-toggler::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.nav-toggler::before {
  top: 0;
}
.nav-toggler::after {
  bottom: 0;
}

.nav-toggler.active span {
  transform: scale(0);
}
.nav-toggler.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.nav-toggler.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

//класс который добавляется при клике на бургер и показывает все display:none; использовала именно так потому что можно было использовать toggle js чтобы при клике становилось видимым и снова клике обратно возращалась
.open {
  display: flex !important;
}

@media (max-width: 1045px) {
  .nav {
    margin-right: 50px;
  }
}
@media (max-width: 1025px) {
  .navbar,
  .container {
    margin: 0 auto;
    max-width: 880px;
  }
  .logo__icon {
    width: 36px;
    height: 36px;
  }
  .logo__text {
    font-size: 32px;
  }
  .nav {
    margin-right: 0;
  }

  .nav-list {
    padding: 0;
    gap: 25px;
  }
  .nav-list__link {
    font-size: 16px;
  }

  .nav-btn {
    gap: 30px;
    &__support {
      font-size: 16px;
    }
    &__sign {
      padding: 8px 30px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
@media (max-width: 880px) {
  header {
    min-height: 60vh;
  }
  .navbar,
  .container {
    max-width: 750px;
  }
  .nav-mobile {
    width: 100%;
  }
  .nav-btn {
    margin-left: 130px;
  }

  .nav-toggler {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #000;
  }
  .nav-list {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 610px) {
  header {
    min-height: 60vh;
  }
  .navbar,
  .container {
    max-width: 360px;
  }
  .nav-toggler {
    display: flex;
  }

  .nav-mobile {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #000;
  }
  .nav-btn {
    z-index: 50;
    flex-direction: column;
    margin: 0;
  }
}
